<h1>Notes</h1>

<div class="notes-grid">
  <% @notes.each do |note| %>
    <%= link_to note_path(note["noteId"]), class: "note-card" do %>
      <% note["fields"].each do |field_name, field_data| %>
        <div class="note-field">
          <strong><%= field_name %>:</strong> <%= field_data["value"] %>
        </div>
      <% end %>
      <% if note["tags"].any? %>
        <div class="note-tags"><em>Tags: <%= note["tags"].join(", ") %></em></div>
      <% end %>
    <% end %>
  <% end %>
</div>
